# Bibliotecas

In [2]:
import json
import pandas as pd
import os

# Open dataset

In [3]:
with open('./Servidor LSI Versao 1/backup/dataset.json','r') as f:
    df_json = json.load(f)

In [10]:
df_json['data'][0]['paragraphs'][0]['qas']

[{'question': 'Qual evento nacional fez Beyonce produzir "Exigir um Plano?"',
  'id': '56bed5983aeaaa14008c94f3',
  'answers': [{'text': 'Tiro na escola primária de Sandy Hook',
    'answer_start': 280}],
  'is_impossible': False},
 {'question': 'Com que música Beyonce contribuiu para a campanha?',
  'id': '56bed5983aeaaa14008c94f4',
  'answers': [{'text': 'Eu estive aqui', 'answer_start': 412}],
  'is_impossible': False},
 {'question': 'Beyoncé está contribuindo para qual campanha de doação de alimentos?',
  'id': '56bed5983aeaaa14008c94f5',
  'answers': [{'text': 'Perca uma refeição', 'answer_start': 1553}],
  'is_impossible': False},
 {'question': 'Em 1 de junho de 2013, onde foi realizado o concerto de "a Chime for Change"?',
  'id': '56bed5983aeaaa14008c94f6',
  'answers': [{'text': 'Londres', 'answer_start': 765}],
  'is_impossible': False},
 {'question': 'Beyoncé estava falando sobre quem quando disse que seu dom era "encontrar as melhores qualidades em cada ser humano".',
  'id': '56bed5983aeaaa14008c94f7',
  'answers': [{'text': 'a mãe dela', 'answer_start': 1277}],
  'is_impossible': False},
 {'question': 'A campanha de vídeo Exija um Plano ocorreu após qual evento trágico?',
  'id': '56bfed855a85de14001c7864',
  'answers': [{'text': 'Tiro da escola primária de Sandy Hook.',
    'answer_start': 280}],
  'is_impossible': False},
 {'question': 'Qual foi o foco da campanha Gucci Chime for Change?',
  'id': '56bfed855a85de14001c7866',
  'answers': [{'text': 'espalhar o empoderamento feminino',
    'answer_start': 616}],
  'is_impossible': False},
 {'question': 'Qual plataforma de crowdfunding foi usada no show?',
  'id': '56bfed855a85de14001c7868',
  'answers': [{'text': 'Catapulta', 'answer_start': 1409}],
  'is_impossible': False},
 {'question': 'Qual é o nome da campanha em que Beyoncé e outros estão envolvidos que trata do controle de armas?',
  'id': '56d4fa2e2ccc5a1400d833ca',
  'answers': [{'text': 'Exigir um plano', 'answer_start': 108}],
  'is_impossible': False},
 {'question': 'Que tiroteio em escolas levou à criação do Plano de Demanda A?',
  'id': '56d4fa2e2ccc5a1400d833cb',
  'answers': [{'text': 'Escola Primária Sandy Hook', 'answer_start': 280}],
  'is_impossible': False},
 {'question': 'Que música Beyoncé doou para a campanha do Dia Mundial Humanitário de 2012?',
  'id': '56d4fa2e2ccc5a1400d833cc',
  'answers': [{'text': 'Eu estive aqui', 'answer_start': 412}],
  'is_impossible': False},
 {'question': 'Com quem Beyoncé trabalhou em 2013 na campanha Chime for Change?',
  'id': '56d4fa2e2ccc5a1400d833cd',
  'answers': [{'text': 'Salma Hayek e Frida Giannini', 'answer_start': 533}],
  'is_impossible': False},
 {'question': 'Com quem Beyoncé trabalhou em 2013 na campanha Chime for Change?',
  'id': '56d4fa2e2ccc5a1400d833cd',
  'answers': [{'text': 'Salma Hayek e Frida Giannini', 'answer_start': 533}],
  'is_impossible': False}]

In [34]:
pd.DataFrame(df_json['data'])

,title,paragraphs
0,Beyoncé,[{'qas': [{'question': 'Quando Beyonce começou...
1,Beyoncé,[{'qas': [{'question': 'Quando Beyonce começou...
2,Frédéric_Chopin,[{'qas': [{'question': 'Quais eram as nacional...
3,Frédéric_Chopin,[{'qas': [{'question': 'Quais eram as nacional...
4,Sino-Tibetan_relations_during_the_Ming_dynasty,[{'qas': [{'question': 'Quem eram Wang Jiawei ...
5,Sino-Tibetan_relations_during_the_Ming_dynasty,[{'qas': [{'question': 'Quem eram Wang Jiawei ...
6,IPod,[{'qas': [{'question': 'Qual empresa produz o ...
7,IPod,[{'qas': [{'question': 'Qual empresa produz o ...
8,The_Legend_of_Zelda: _Twilight_Princess,[{'qas': [{'question': 'Em que categoria de jo...

In [35]:
df_json['data'][0]['title']

'Beyoncé'

In [36]:
df_json['data'][1]['title']

'Beyoncé'

In [37]:
lixo = df_json['data'].pop(1)

In [38]:
lixo = df_json['data'].pop(1)

In [39]:
lixo = df_json['data'].pop(2)

In [40]:
lixo = df_json['data'].pop(3)

In [41]:
pd.DataFrame(df_json['data'])

,title,paragraphs
0,Beyoncé,[{'qas': [{'question': 'Quando Beyonce começou...
1,Frédéric_Chopin,[{'qas': [{'question': 'Quais eram as nacional...
2,Sino-Tibetan_relations_during_the_Ming_dynasty,[{'qas': [{'question': 'Quem eram Wang Jiawei ...
3,IPod,[{'qas': [{'question': 'Qual empresa produz o ...
4,The_Legend_of_Zelda: _Twilight_Princess,[{'qas': [{'question': 'Em que categoria de jo...

In [42]:
dicionario = df_json['data']
total = 0
for i in dicionario:
    total += 1
    for j in i['paragraphs']:
        for k in j['qas']:
            total += 1
        total += 1

In [43]:
total

2397

# Open dataset 2

In [44]:
with open('./Servidor LSI Versao 3/backup/dataset.json','r') as f:
    df_json_dois = json.load(f)

In [46]:
pd.DataFrame(df_json_dois['data'])

,title,paragraphs
0,The_Legend_of_Zelda: _Twilight_Princess,[{'qas': [{'question': 'Em que categoria de jo...
1,The_Legend_of_Zelda: _Twilight_Princess,[{'qas': [{'question': 'Em que categoria de jo...
2,Spectre_ (2015_film),[{'qas': [{'question': 'Qual empresa fez o Spe...
3,Spectre_ (2015_film),[{'qas': [{'question': 'Qual empresa fez o Spe...
4,2008_Sichuan_earthquake,[{'qas': [{'question': 'Em que ano ocorreu o t...
5,2008_Sichuan_earthquake,[{'qas': [{'question': 'Em que ano ocorreu o t...

In [47]:
lixo = df_json_dois['data'].pop(1)

In [48]:
lixo = df_json_dois['data'].pop(1)

In [49]:
lixo = df_json_dois['data'].pop(3)

In [50]:
pd.DataFrame(df_json_dois['data'])

,title,paragraphs
0,The_Legend_of_Zelda: _Twilight_Princess,[{'qas': [{'question': 'Em que categoria de jo...
1,Spectre_ (2015_film),[{'qas': [{'question': 'Qual empresa fez o Spe...
2,2008_Sichuan_earthquake,[{'qas': [{'question': 'Em que ano ocorreu o t...

In [55]:
dicionario = df_json_dois['data']
total = 0
for i in dicionario:
    total += 1
    for j in i['paragraphs']:
        for k in j['qas']:
            total += 1
        total += 1
print(total)

1542

# Merge dataset 1 and 2

In [51]:
df_json['data'].append(df_json_dois['data'][0])

In [52]:
df_json['data'].append(df_json_dois['data'][1])

In [53]:
df_json['data'].append(df_json_dois['data'][2])

In [59]:
lixo = df_json['data'].pop(4)

In [60]:
pd.DataFrame(df_json['data'])

,title,paragraphs
0,Beyoncé,[{'qas': [{'question': 'Quando Beyonce começou...
1,Frédéric_Chopin,[{'qas': [{'question': 'Quais eram as nacional...
2,Sino-Tibetan_relations_during_the_Ming_dynasty,[{'qas': [{'question': 'Quem eram Wang Jiawei ...
3,IPod,[{'qas': [{'question': 'Qual empresa produz o ...
4,The_Legend_of_Zelda: _Twilight_Princess,[{'qas': [{'question': 'Em que categoria de jo...
5,Spectre_ (2015_film),[{'qas': [{'question': 'Qual empresa fez o Spe...
6,2008_Sichuan_earthquake,[{'qas': [{'question': 'Em que ano ocorreu o t...

In [61]:
dicionario = df_json['data']
total = 0
for i in dicionario:
    total += 1
    for j in i['paragraphs']:
        for k in j['qas']:
            total += 1
        total += 1
print(total)

3929

# Open dataset 3

In [57]:
with open('./Servidor LSI Versao 4/backup/dataset.json','r') as f:
    df_json_tres = json.load(f)

In [58]:
pd.DataFrame(df_json_tres['data'])

                      title                                         paragraphs
0   2008_Sichuan_earthquake  [{'qas': [{'question': 'Em que ano ocorreu o t...
1   2008_Sichuan_earthquake  [{'qas': [{'question': 'Em que ano ocorreu o t...
2       Cidade de Nova York  [{'qas': [{'question': 'Qual cidade nos Estado...
3       Cidade de Nova York  [{'qas': [{'question': 'Qual cidade nos Estado...
4         Matar a esperança  [{'qas': [{'question': 'Quando To Kill a Mocki...
5         Matar a esperança  [{'qas': [{'question': 'Quando To Kill a Mocki...
6             Energia solar  [{'qas': [{'question': 'De onde vem a energia ...
7             Energia solar  [{'qas': [{'question': 'De onde vem a energia ...
8                Kanye_West  [{'qas': [{'question': 'Em que ano Kanye nasce...
9                Kanye_West  [{'qas': [{'question': 'Em que ano Kanye nasce...
10                  budismo  [{'qas': [{'question': 'Que tipo de religião é...

In [62]:
lixo = df_json_tres['data'].pop(1)
lixo = df_json_tres['data'].pop(1)
lixo = df_json_tres['data'].pop(3)

In [63]:
pd.DataFrame(df_json_tres['data'])

                     title                                         paragraphs
0  2008_Sichuan_earthquake  [{'qas': [{'question': 'Em que ano ocorreu o t...
1      Cidade de Nova York  [{'qas': [{'question': 'Qual cidade nos Estado...
2        Matar a esperança  [{'qas': [{'question': 'Quando To Kill a Mocki...
3            Energia solar  [{'qas': [{'question': 'De onde vem a energia ...
4            Energia solar  [{'qas': [{'question': 'De onde vem a energia ...
5               Kanye_West  [{'qas': [{'question': 'Em que ano Kanye nasce...
6               Kanye_West  [{'qas': [{'question': 'Em que ano Kanye nasce...
7                  budismo  [{'qas': [{'question': 'Que tipo de religião é...

In [64]:
lixo = df_json_tres['data'].pop(3)
lixo = df_json_tres['data'].pop(4)

In [65]:
pd.DataFrame(df_json_tres['data'])

                     title                                         paragraphs
0  2008_Sichuan_earthquake  [{'qas': [{'question': 'Em que ano ocorreu o t...
1      Cidade de Nova York  [{'qas': [{'question': 'Qual cidade nos Estado...
2        Matar a esperança  [{'qas': [{'question': 'Quando To Kill a Mocki...
3            Energia solar  [{'qas': [{'question': 'De onde vem a energia ...
4               Kanye_West  [{'qas': [{'question': 'Em que ano Kanye nasce...
5                  budismo  [{'qas': [{'question': 'Que tipo de religião é...

# Merge dataset 1 and 3

In [66]:
lixo = df_json['data'].pop(6)

In [67]:
for i in df_json_tres['data']:
    df_json['data'].append(i)

In [68]:
pd.DataFrame(df_json['data'])

,title,paragraphs
0,Beyoncé,[{'qas': [{'question': 'Quando Beyonce começou...
1,Frédéric_Chopin,[{'qas': [{'question': 'Quais eram as nacional...
2,Sino-Tibetan_relations_during_the_Ming_dynasty,[{'qas': [{'question': 'Quem eram Wang Jiawei ...
3,IPod,[{'qas': [{'question': 'Qual empresa produz o ...
4,The_Legend_of_Zelda: _Twilight_Princess,[{'qas': [{'question': 'Em que categoria de jo...
5,Spectre_ (2015_film),[{'qas': [{'question': 'Qual empresa fez o Spe...
6,2008_Sichuan_earthquake,[{'qas': [{'question': 'Em que ano ocorreu o t...
7,Cidade de Nova York,[{'qas': [{'question': 'Qual cidade nos Estado...
8,Matar a esperança,[{'qas': [{'question': 'Quando To Kill a Mocki...
9,Energia solar,[{'qas': [{'question': 'De onde vem a energia ...
10,Kanye_West,[{'qas': [{'question': 'Em que ano Kanye nasce...
11,budismo,[{'qas': [{'question': 'Que tipo de religião é...

In [69]:
dicionario = df_json['data']
total = 0
for i in dicionario:
    total += 1
    for j in i['paragraphs']:
        for k in j['qas']:
            total += 1
        total += 1
print(total)

6043

## Salvando Dataset

In [71]:
path = './SQUaD Traduzido'
if(not os.path.exists(path)):
    os.mkdir(path)

In [72]:
with open(path + '/dataset_v1.json','w') as outfile:
    json.dump(df_json, outfile, ensure_ascii = False)

In [11]:
path = './SQUaD Traduzido/dataset_v1.json'
with open(path,'r') as outfile:
    a = json.load(outfile)

In [14]:
a['data'][0]['paragraphs'][66]['qas']

[{'question': 'Qual evento nacional fez Beyonce produzir "Exigir um Plano?"',
  'id': '56bed5983aeaaa14008c94f3',
  'answers': [{'text': 'Tiro na escola primária de Sandy Hook',
    'answer_start': 280}],
  'is_impossible': False},
 {'question': 'Com que música Beyonce contribuiu para a campanha?',
  'id': '56bed5983aeaaa14008c94f4',
  'answers': [{'text': 'Eu estive aqui', 'answer_start': 412}],
  'is_impossible': False},
 {'question': 'Beyoncé está contribuindo para qual campanha de doação de alimentos?',
  'id': '56bed5983aeaaa14008c94f5',
  'answers': [{'text': 'Perca uma refeição', 'answer_start': 1553}],
  'is_impossible': False},
 {'question': 'Em 1 de junho de 2013, onde foi realizado o concerto de "a Chime for Change"?',
  'id': '56bed5983aeaaa14008c94f6',
  'answers': [{'text': 'Londres', 'answer_start': 765}],
  'is_impossible': False},
 {'question': 'Beyoncé estava falando sobre quem quando disse que seu dom era "encontrar as melhores qualidades em cada ser humano".',
  'id': '56bed5983aeaaa14008c94f7',
  'answers': [{'text': 'a mãe dela', 'answer_start': 1277}],
  'is_impossible': False},
 {'question': 'A campanha de vídeo Exija um Plano ocorreu após qual evento trágico?',
  'id': '56bfed855a85de14001c7864',
  'answers': [{'text': 'Tiro da escola primária de Sandy Hook.',
    'answer_start': 280}],
  'is_impossible': False},
 {'question': 'Qual foi o foco da campanha Gucci Chime for Change?',
  'id': '56bfed855a85de14001c7866',
  'answers': [{'text': 'espalhar o empoderamento feminino',
    'answer_start': 616}],
  'is_impossible': False},
 {'question': 'Qual plataforma de crowdfunding foi usada no show?',
  'id': '56bfed855a85de14001c7868',
  'answers': [{'text': 'Catapulta', 'answer_start': 1409}],
  'is_impossible': False},
 {'question': 'Qual é o nome da campanha em que Beyoncé e outros estão envolvidos que trata do controle de armas?',
  'id': '56d4fa2e2ccc5a1400d833ca',
  'answers': [{'text': 'Exigir um plano', 'answer_start': 108}],
  'is_impossible': False},
 {'question': 'Que tiroteio em escolas levou à criação do Plano de Demanda A?',
  'id': '56d4fa2e2ccc5a1400d833cb',
  'answers': [{'text': 'Escola Primária Sandy Hook', 'answer_start': 280}],
  'is_impossible': False},
 {'question': 'Que música Beyoncé doou para a campanha do Dia Mundial Humanitário de 2012?',
  'id': '56d4fa2e2ccc5a1400d833cc',
  'answers': [{'text': 'Eu estive aqui', 'answer_start': 412}],
  'is_impossible': False},
 {'question': 'Com quem Beyoncé trabalhou em 2013 na campanha Chime for Change?',
  'id': '56d4fa2e2ccc5a1400d833cd',
  'answers': [{'text': 'Salma Hayek e Frida Giannini', 'answer_start': 533}],
  'is_impossible': False},
 {'question': 'Com quem Beyoncé trabalhou em 2013 na campanha Chime for Change?',
  'id': '56d4fa2e2ccc5a1400d833cd',
  'answers': [{'text': 'Salma Hayek e Frida Giannini', 'answer_start': 533}],
  'is_impossible': False}]